// Gray
@dark-gray-1: #0C0E12;
@dark-gray-2: #13161B;
@dark-gray-3: #22262F;
@dark-gray-4: #373A41;
@dark-gray-5: #61656C;
@dark-gray-6: #85888E;
@dark-gray-7: #94979C;
@dark-gray-8: #CECFD2;
@dark-gray-9: #ECECEC;
@dark-gray-10: #F0F0F1;

// Border
@dark-color-border: #000;

// Background
@dark-color-bg-1: @dark-gray-1;
@dark-color-bg-2: @dark-gray-3;
@dark-color-bg-3: @dark-gray-3;
@dark-color-bg-4: @dark-gray-3;
@dark-color-bg-5: @dark-gray-3;

// Menu
@dark-color-menu-light-bg: transparent;
@dark-color-menu-dark-bg: transparent;
@dark-color-menu-dark-hover: fade(#fff, 2%);
