// gray
@gray-1: #f5f5f5;
@gray-2: #e9eaeb;
@gray-3: #d5d7da;
@gray-4: #a4a7ae;
@gray-5: #717680;
@gray-6: #535862;
@gray-7: #414651;
@gray-8: #252b37;
@gray-9: #181d27;
@gray-10: #0a0d12;

// border
@color-border: @gray-2;

// text
@color-text-1: @gray-9;
@color-text-2: @gray-7;
@color-text-3: @gray-6;
@color-text-4: @gray-5;

// fill
@color-fill-1: #fdfdfd;
@color-fill-2: #fafafa;
@color-fill-3: #f5f5f5;
@color-fill-4: #e9eaeb;

// menu
@color-menu-light-bg: transparent;
@color-menu-dark-bg: transparent;
