node_modules
coverage
dist
.DS_Store
.cache

# admin
apps/admin/src/auto-imports.d.ts
apps/admin/src/typed-router.d.ts
apps/admin/src/vue-components.d.ts

# docs
docs/.vitepress/cache
docs/auto-imports.d.ts
docs/components.d.ts

*storybook.log
